<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>Level</key>
		<string>debug</string>
	</dict>
	<key>DEBUG</key>
	<dict>
		<key>Level</key>
		<string>DEBUG</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>Level</key>
		<string>Debug</string>
	</dict>
	<key>info</key>
	<dict>
		<key>Level</key>
		<string>info</string>
	</dict>
	<key>INFO</key>
	<dict>
		<key>Level</key>
		<string>INFO</string>
	</dict>
	<key>Info</key>
	<dict>
		<key>Level</key>
		<string>Info</string>
	</dict>
	<key>warn</key>
	<dict>
		<key>Level</key>
		<string>warn</string>
	</dict>
	<key>WARN</key>
	<dict>
		<key>Level</key>
		<string>WARN</string>
	</dict>
	<key>Warn</key>
	<dict>
		<key>Level</key>
		<string>Warn</string>
	</dict>
	<key>error</key>
	<dict>
		<key>Level</key>
		<string>error</string>
	</dict>
	<key>ERROR</key>
	<dict>
		<key>Level</key>
		<string>ERROR</string>
	</dict>
	<key>Error</key>
	<dict>
		<key>Level</key>
		<string>Error</string>
	</dict>
	<key>unknown</key>
	<dict>
		<key>Level</key>
		<string>unknown</string>
	</dict>
</dict>
</plist>
